<h1>Photogur</h1>
<% @pictures.each do |picture| %>

<%= link_to "Add New", "/pictures/new" %></h2>

 	  	<%= image_tag(picture.url) %>
-	  	<p><%= picture.title %>, <%= picture.artist %></p>
+	  	<p><%= picture.title %> :: <%= picture.artist %></p>
 	
 <% end %> 
